/* Article Creation Text */
.article-creation-heading {
	display: block;
	font-size: 1.1em;
	margin-left: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Article Creation Panel */
#article-creation-panel {
	position: relative;
	margin-left: 80px;
}


/* Buttons */
.ac-article-button {
	width: 250px !important;
}

.ac-action-button {
	width: 150px !important;
}

.ac-button {
	margin: 8px 0;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
}

.ac-button:hover {
	text-decoration: none;
}

.ac-faded {
	opacity: .5;
}

.ac-button-title, .ac-button-body {
	float: left;
}


.ac-button-title {
	font-size: 1.1em;
	font-weight: bold;
}

.ac-button-body {
	font-size: .9em;
}

/* Power Arrows */

.ac-arrow {
	position: absolute;
	top: 50%;
	right: 16px;
	width: 16px;
	height: 16px;
	margin-top: -9px;
}

.ac-arrow-forward {
	/* @embed */
	background: url(images/arrow_right.png) no-repeat;
}
.ac-arrow-back {
	/* @embed */
	background: url(images/arrow_left.png) no-repeat;
}

/* Tooltip Magic */

.mw-ac-tip {
	position: absolute;
	left: 290px;
	background-color: #3cb878;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 2px;
}

.mw-ac-tooltip-pointy {
	/* @embed */
	background: url(images/ac-tooltip-pointy.png) left top no-repeat;
	height: 22px;
	width: 12px;
	left: -10px;
	position: absolute;

}

.mw-ac-tooltip-innards {
	background-color: #f5f5f5;
	padding: 10px;
	max-width: 350px;
}

.mw-ac-tooltip-title {
	font-size: 1.1em;
	font-weight: bold;
}

.ac-clearfix {
	clear: both;
}

.ac-action-button {
	float: right;
	font-weight: bold;
}

.mw-ac-help {
	float: right;
	font-size: 90%;
}

.mw-ac-create-dismiss-skip-control {
	font-size: 0.7em;
	float: left;
	padding-top: 1em;
}
